@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    color: hsl(0, 0%, 100%);
    background-color: #0a0a0a;
    font-family: "Montserrat", sans-serif;;
}
header{
    padding-top: 2%;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: hsl(0, 0%, 90%);
}
ul{
    list-style: none;
}
.navbar{
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10.5vh;
    width: 80%;
    border: 1px solid #212121;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, .1);
    filter: blur(1);
}
.nav-menus{
    display: flex;
    padding-right: 30px;
}
.nav-title, .nav-item{
    margin: 0 30px;
    padding-bottom: 5px;
    font-size: 24px;
}
.nav-title{
    padding-left: 55px;
    font-size: 33px;
    font-weight: 700;
}
.nav-close, .nav-toogle{
    display: none;
    height: 20px;
}main{
    display: flex;
    padding-top: 10%;
    margin: 0 auto;
    width: 90%;
}
.watchimg1, .watchimg2, .watchimg3{
    height: 66vh;

}
.watchimg2, .watchimg3{
    display: none;
}
.watchlogo{
    height: 100px;
}
.product-info, .product-image, .product-description{
    width: 33%;
}
.hero{
    padding: 10px 0;
}
.info{
    font-size: 39px;
    font-weight: 700;
}
.hero>p{
    font-size: 20px;
    margin-top: 10px;
}
.hero>button{
    height: 7vh;
    width: 13vw;
    margin-top: 25%;
    margin-left: 15%;
    background: transparent;
    border: 1px solid #fff;
    cursor: pointer;
    transition: all .1s ease-in-out;
    color: hsl(0, 0%, 60%);
    font-size: 20px;
    text-transform: capitalize;
}
.hero>button:active{
    box-shadow: 0 0 4px 4px #fff; 
    scale: 0.9;
}
.pimg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{
    margin-top: 10px;
    display: flex;
    text-align: center;
    justify-content: center ;
}
.slider>*{
    margin: 5px;
    border: none
}
.watchlogo{
    margin-top: 17%;
    margin-left: 18%;
}
.product-description{
    padding-left: 6%;
}
.product-description>p{
    width: 80%;
    color: hsl(0, 0%, 60%);
    margin-top: 1%;
}
.product-description>button{
    width: 20vw;
    height: 6vh;
    margin: 15% 1%;
    cursor: pointer;
    letter-spacing: 6px;
    border: none;
    font-size: 20px;
    color: hsl(0, 0%, 90%);
    outline: none;
    background: transparent;
    text-transform: uppercase;
}

@media screen and (max-width:600px) and (min-width:320px) {
    header{
        padding-left: 3%;
        padding-top: 7%;
        display: flex;
        justify-content: center;
    }
    .navbar{
        height: 7vh;
    }
    .nav-menus{
        flex-direction: column;
        display: none;
        padding-top: 10%;
        left: 35%;
        position: absolute;
        text-align: center;
    }
    .nav-item{
        margin: 15px;
        font-size: 20px;
    }
    .nav-toogle{
        height:25px;
        top: 5.4%;
        left: 76%;
        display: block;
        transform: rotate(180deg);
        position: absolute;
    }
    .nav-close{
        top: 5.4%;
        left: 77%;
        display: none;
        position: absolute;
    }
    .nav-menus{
        padding-right: 2px;
    }
    
    .nav-title{
        font-size: 22px;
        padding-left: 0;
    }
    main{
        flex-direction: column;
    }
    .info{
        font-size: 25px;
        width: 100vw;
        font-weight: 700;
        text-align: center;
        margin-top: 30%;
    }
    .hero>p{
        font-size: 20px;
        width: 100vw;
        margin-top: 10px;
        text-align: center;
    }
    .hero>button{
        height: 7vh;
        width: 55vw;
        margin-top: 30%;
        margin-left: 15%;
        background: transparent;
        border: 1px solid #fff;
        cursor: pointer;
        transition: all .1s ease-in-out;
        color: hsl(0, 0%, 60%);
        font-size: 20px;
        position: absolute;
        bottom: 6%;
        left:13%;
        text-transform: capitalize;
    }
    .hero>button:active{
        scale: 0.9;
    }
    .watchimg1, .watchimg2, .watchimg3{
        height: 43vh;
        position: absolute;
        bottom: 20%;
        left: 33%;
    }
    .pimg{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .slider{
        margin-top: 10px;
        display: flex;
        text-align: center;
        justify-content: center ;
    }
    .slider>*{
        margin: 5px;
        border: none
    }
    .watchlogo{
        margin-top: 17%;
        margin-left: 18%;
    }
    .product-description{
        display: none;
        /* padding-left: 6%; */
    }
    .product-description>p{
        width: 80%;
        color: hsl(0, 0%, 60%);
        margin-top: 1%;
    }
    .product-description>button{
        width: 20vw;
        height: 6vh;
        margin: 15% 1%;
        cursor: pointer;
        letter-spacing: 6px;
        border: none;
        font-size: 20px;
        color: hsl(0, 0%, 90%);
        outline: none;
        background: transparent;
        text-transform: uppercase;
    }
}
