*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    color: hsl(0, 0%, 60%);
}
html, body{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
.helo{
    display: flex;
}
ul{
    display: flex;
}
li{
list-style: none;
}
a:hover, i:hover{
color: hsl(0, 0%, 100%);
}
.nav-logo{
    display: inline-block;
}
.nav-close, .nav-toogle{
    display: none;
}
.navbar{
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-menu{
text-align: center;
}

.nav-logo{
    font-size: 35px;
    font-weight: 700;
}
.social-links i{
    font-size: 20px;
    margin: 20px;
    align-items: center;
}
.social-menu{
    display: flex;
    padding-left: 70px;
    align-items: center;
}
.nav-menu .nav-item{
    font-size: 22px;
    margin: 23px;
    font-weight: 500;
}
header{
    border-bottom: 1px solid hsl(0, 0%, 60%);
}

@media screen and (max-width:600px) {
    .nav-menu{
        display: none;
        position: absolute;
        top: 10%;
        left: 30%;
    }
    .navbar{
        display: flex;
        justify-content: flex-start;
        padding-left: 28px;
    }
    .nav-toogle, .nav-close{
        display: block;
        position: absolute;
        right: 0;
        padding-right: 28px;
        font-size: 25px;
    }
    .nav-close{
        display: none;
    }
    ul {
        flex-direction: column;
    }
    .social-menu{
        padding: 0;
    }
}
.logo{
    background: transparent;
    height: 70px;
    display: flex;justify-content: flex-start;
}