@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    color: #fff;
    background-color: #a1ccc7;
    font-family: 'Open Sans', sans-serif;
}
header{
    padding-top: 3%;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: #fff;
}
ul{
    list-style: none;
}
.navbar{
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10.5vh;
    width: 80%;
    border: 1px solid #212121;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, .2);
    filter: blur(1);
}
.nav-menus{
    display: flex;
    padding-right: 30px;
}
.nav-title, .nav-item{
    margin: 0 30px;
    padding-bottom: 5px;
    font-size: 24px;
}
.nav-title{
    padding-left: 55px;
    font-size: 33px;
    font-weight: 700;
}
.nav-close, .nav-toogle{
    display: none;
    height: 20px;
}
@media screen and (max-width:600px) {
    header{
        padding-left: 3%;
        padding-top: 7%;
        display: flex;
        justify-content: center;
    }
    .navbar{
        height: 7vh;
    }
    .nav-menus{
        flex-direction: column;
        display: none;
        padding-top: 10%;
        left: 35%;
        position: absolute;
        text-align: center;
    }
    .nav-item{
        margin: 15px;
        font-size: 20px;
    }
    .nav-toogle{
        height:25px;
        top: 5.2%;
        left: 78%;
        display: block;
        rotate: 180deg;
        position: absolute;
    }
    .nav-close{
        top: 5.4%;
        left: 79%;
        display: none;
        position: absolute;
    }
    .nav-menus{
        padding-right: 2px;
    }
    
    .nav-title{
        font-size: 22px;
        padding-left: 0;
    }
}
